/* Main */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap')


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    /* background-color: black; */
}

html {
    scroll-behavior: smooth;
}

p {
    color: black;
}

/* Transition */

a, .btn {
    transition: all 300ms ease;
}

/* Navigation */

nav, .nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: #333333;
    text-decoration: none;
    text-decoration-color: #333333;
}

a:hover {
    color: #6b6b6b;
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: #6b6b6b;
}

.logo {
    font-size: 3rem;
    color: #333333;
}

.logo:hover {
    cursor: default;
}

/* Hamburger Menu */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
    
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* Sections */

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}

/* Profile Section */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 500px;
    width: 500px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: center;  
}

.section__text p {
    font-weight: 500;
}

.section__text__p1 {
    font-size: 3.25rem;
    text-align: center;
    margin: 0;
    color: #4e4e4e;
}

.section__text__p2 {
    font-size: 2rem;
    margin-bottom: 2.25rem;
    color: #6b6b6b;
}

.title {
    font-size: 5rem;
    text-align: center;
    margin: 0;
    color: #333333;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* Icons */

.icon {
    cursor: pointer;
    height: 4rem;
    margin-top: 1.5rem;

}

/* Buttons */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    background-color: rgb(248, 248, 248);
    color: #333333;
}

.btn.color-1 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
    color: white;
}


.btn.container {
    gap: 1rem;
}

.title {
    font-weight: 400;
}

/* Porfolios */

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    margin-top: 6rem;
}

.graphic-btn {
    background-image: url('./resources/JuzeAdDark.png');
    background-size: cover;
    font-size: 2.5rem;
    color:#ffffff;
    width: 40rem;
    height: 25rem;
    border-radius: 2rem;
}

.video-btn {
    background-image: url('./resources/PremiereTimelineDark.png');
    background-size: cover;
    font-size: 2.5rem;
    color:#ffffff;
    width: 40rem;
    height: 25rem;
    border-radius: 2rem;
}

.graphic-btn:hover, .video-btn:hover {
    background-color: hsl(0, 0%, 20%);
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #ffffff;
    border: 10px;

}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    margin-top: 0;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    background: rgb(250,250,250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
    justify-content: center;
}

.email-icon {
    height: 5rem;
    margin-top: 0%;
}



/* Back To Top */

.back-to-top {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}





/* Footer */

footer {
    height: 26vh;
    margin: 0 1rem;
}

footer p {
    text-align: center;
}

/* Photo Gallery */

.pic-container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.photo {
    margin-bottom: -20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media(max-width:768px) {
    .photo-gallery {
        flex-direction: column;
    }
}


/* Video Portfolio */


.player {
    display: flex;
    aspect-ratio: 16 / 9;
    width: 60%;
    margin: auto;
    
}

@media(max-width:768px) {
    .player {
        width: 90%;
    }
}
